body{background-color: lightgreen}


header{
background-color: green;
margin: -8px;
padding: 0px;
border: 2px dotted white;
}


li{
text-decoration: none; 
display: inline;
border: 2px solid tomato;}


ul{
text-align: center;
list-style: none;

}


#b{display: inline-block}
.m{width:100%}
.n{width:100%; height: 600px}
