body{
background-color: lightgreen;
margin: 0px;
}


header{
background-color: green;
margin: inherit;
padding: 0px;
border: 3px dotted white;
}


li{
text-decoration: none; 
display: inline;
}


ul{
text-align: left;
list-style: none;
padding-left: 3%;

}


#b{display: inline-block}
.m{width:98%}
.n{width:98%; height: 600px}
