body{
background-color: lightgreen;
margin: 0px;
min-width: 350px;
font-size: 100%;
}


header{
background-color: LightGray;
border: 3px solid slateblue;
}


ul{
width: 25%;
min-width: 190px;
display: inline-block;
padding: 1% 1%;
font-size: 1em;
box-sizing: border-box;
margin: 5px;
font-weight: bold;
}


ul li{
width: 25%;
min-width: 50px;
text-align: center;
list-style: none;
padding: 2px;
margin: 2px;
display: inline-block;
background-color: mediumspringgreen;
border-radius:5px;
border: 2px solid black;
box-sizing: border-box;
}


ul li a{
color: tomato;
text-decoration: none;
}


ul li a:hover{
color: yellow;
}


ul li a:visited{
color: black;
}


header input[type=text]{
width: 22%;
display: inline-block;
padding: 1% 1%;
font-size: 12px;
float: right;
margin-top: 10px;
border: 1px solid gray;
border-radius: 2px;
font-style: italic;
}


header input[type=submit]{
width: 14%;
display: inline-block;
padding: 1% 1%;
font-size: 12px;
float: right;
margin-top: 10px;
margin-right: 10px;
text-align: center;
background-color: dodgerblue;
border: 1px solid gray;
border-radius: 2px;
transition: 0.2s;

}


header input[type=submit]:hover{background-color: tomato;}


.b{
width: 150px;
display: block;
margin: 10px auto;
/* for centering image:
display: block;
margin-left: auto;
margin-right: auto; */
}


#top{
text-align: center;
font-size: 150%;
font-family: fantasy;
padding: 0px 5%;
}

#b{display: inline-block}
.m{width:98%}
.n{width:98%; height: 600px}
